.gohunt-header {
  width: 100%;
  height: 64px;
  background: #1c1c1d;
  color: #E5E5E5;
  /* floating header */
  position: fixed;
  top: 0;
  transition: 0.2s ease-in-out;
  z-index: 999;
}
.gohunt-header:hover {
  background: #1c1c1d;
  transition: .7s ease-in-out;
}
.gohunt-header:hover .gh-nav-item div a,
.gohunt-header:hover .gh-log-in a,
.gohunt-header:hover .gh-point > span,
.gohunt-header:hover .gh-logo .gh-gohunt-logo,
.gohunt-header:hover .gh-user-menu-ico, 
.gohunt-header:hover .gh-search-ico, 
.gohunt-header:hover .gh-cart-ico{
  color: #E5E5E5;
  fill: #E5E5E5;
  transition: .5s ease-in-out;
}
.transparent-dark {
  background: transparent;
}
.transparent-dark .gh-nav-heading div a,
.transparent-dark .gh-log-in a,
.transparent-dark .gh-point > span,
.transparent-dark .gh-user-menu-ico, 
.transparent-dark .gh-search-ico, 
.transparent-dark .gh-cart-ico {
  color: #1c1c1d;
  fill: #1c1c1d;
}
.transparent-light{
  background: transparent;
}
/* .transparent-light ~ div #gh-user-menu-circle{
  stroke: #fafafa4a !important;
} */
.nav-up {
  top: -64px;
}
.gh-main-header{
  display: flex;
  align-items: center;
  margin: 11px 48px;
}
.gh-logo .gh-gohunt-logo{
  width: 32px;
  height: 38px;
  fill: #FAFAFA;
}
.transparent-dark .gh-logo .gh-gohunt-logo {
  fill: #404040;
}
.gh-nav-wrap{
  flex: 1;
}
.gh-nav-heading{
  display: flex;
  font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.gh-nav-heading > div{
  margin-left: 32px;
}
.gh-nav-heading .gh-nav-item a{
  border-bottom: 5px solid transparent;
  text-decoration:none;
  color: #E5E5E5;
  white-space: nowrap;
}
.gh-nav-heading .gh-nav-item a:after {
  margin-bottom: -26px;
  padding: 9px 0;
  display:block;
  content: '';
  border-bottom: 5px solid #AA9767;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.gh-nav-heading .gh-nav-item a:hover:after {
   transform: scaleX(1);
}
/************ Flyout Part ************/
.gh-flyout{
  display: flex;
  position: absolute;
  top: 64px;
  left: 0px;
  width: 100%;
  box-shadow: 0px 16px 32px -28px rgba(0, 0, 0, 0.25);
  color: #404040;
  background: #FFF;
  /* visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.2s linear;   */
}
.gh-nav-item:hover + .gh-flyout, .gh-flyout:hover{
  display: flex;
  /* opacity: 1;
  visibility: visible; */
}
.gh-flyout:hover ~ .gh-nav-item a:hover:after{
  border-bottom: 5px solid #AA9767;
  transform: scaleX(1);
}
.flyout-spacer{
  width: calc((100% - 1168px)/2);
  background:#EEE;
}
.gh-flyout-col1{
  width: 25%;
  max-width: 300px;
  background: #EEE;
  padding: 0 10px 50px 10px;
  box-sizing: border-box;
}
.gh-flyout-col1 h6, .gh-flyout-col2 h6, .gh-flyout-col3 h6{
  font-family: 'HCo Ringside Wide', 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 110%;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  margin: 31px 0px;
  color: #8E8E92;
}
.gh-flyout-col1 div, .gh-flyout-col2 div, .gh-flyout-col3 div{
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.gh-flyout-col1 div a, .gh-flyout-col2 div a, .gh-flyout-col3 div a{
  color: #404040;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.gh-flyout-col1 div a:hover{
}
.gh-flyout-col1 div img{
  vertical-align: middle;
  margin-right: 18px;
}
.gh-flyout-col2{
  width: 30%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 0 10px 50px 50px;
  /* border-right: #1c1c1d 1px solid; */
}
.gh-flyout-col2 div a{
}
.gh-flyout-col2 div a:hover{
}
.gh-flyout-col3{
  width: 40%;
  max-width: 468px;
  padding: 0 10px 50px 30px;
  border-left: #E3E3E3 1px solid;
}
.gh-flyout-col3 div a{
}
.gh-flyout-col3 div a:hover{
}
.gh-flyout-col3 div img{
  vertical-align: middle;
  width: 165px;
  height: 90px;
  border-radius: 5px;
  margin-right: 18px;
}
/******************* Nav Right Part ****************/
.gh-nav-right{
  display: flex;
  align-items: center;
}
.gh-search-ico{
  margin-left: 32px;
  width: 21px;
  height: 21px;
  fill: #FAFAFA;
  cursor: pointer;
}
.gh-search-ico:hover{
  fill: #e5e5e5;
}
.gh-cart-ico{
  margin-left: 32px;
  margin-top: 4px;
  width: 21px;
  height: 21px;
  fill: #FAFAFA;
}
.gh-cart-ico:hover{
  fill: #E5E5E5;
}
.gh-point{
  margin-left: 10px;
  margin-top: 4px;
  font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-size: 12px;
  color: #5D5D5D;
  letter-spacing: 0.12em;
}
.gh-point > span{
  font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-size: 12px;
  color: #FAFAFA;
  letter-spacing: 0.12em;
}
.gh-hamburger-ico{
  display: none;
  width: 18px;
  height: 12px;
  fill: #FAFAFA;
}
.gh-user-menu-ico{
  margin-left: 32px;
  width: 32px;
  height: 32px;
  fill: #FAFAFA;
  cursor: pointer;
}
.gh-user-menu-ico:hover{
  fill: #e5e5e5;
}
.gh-log-in a{
  display: block;
  text-align: center;
  padding: 9px 15px;
  margin-left: 20px;
  font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #fafafa;
  text-decoration: none;
  border-radius: 100px;
}
.gh-log-in a:hover{
  color: #fafafa;
  background: #404040;
  transition: 0s ease-in-out !important;
}
.gh-sign-up a{
  display: block;  
  padding: 9px 20px;
  margin-left: 20px;
  background: #F37735;
  color: #fafafa;
  text-decoration: none;
  border-radius: 100px;
  font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}
.gh-sign-up a:hover{
  background: #DB6B30;
  color: #FAFAFA;
}

.gh-nav-item-menu, .gh-nav-item-account, .gh-log-in-m, .gh-sign-up-m{
  display: none;
}

@media screen and (max-width: 999px) {
  /* .gh-nav-heading > div{
    display: none;
  } */
  .gh-flyout-col1 h6, .gh-flyout-col2, .gh-flyout-col3, .gh-log-in, .gh-sign-up{
    display: none;
  }
  .gh-hamburger-ico, .gh-nav-item-menu, .gh-nav-item-account, .gh-log-in-m, .gh-sign-up-m{
    display: block;
  }
  .gh-logo{
    position: absolute;
    left: calc(50% - 16px);
    top: 13px;
  }
  .gh-hamburger-ico{
    position: absolute;
    left: 16px;
    top: 26px;
    cursor: pointer;
  }
  .gh-search-ico{
    position: absolute;
    left: 22px;
    top: 22px;
  }
  .gh-cart-ico{
    position: absolute;
    right: 62px;
    top: 18px;
  }
  .gh-point{
    display: none;
  }
  .gh-user-menu-ico{
    position: absolute;
    right: 14px;
    top: 17px;
  }
  .gh-usr-profile{
    position: absolute;
    right: 14px;
    top: 12px;
  }
  .gh-nav-wrap{
    display: none;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .gh-nav-wrap-2{
    display: flex;
    flex-direction: column;
    max-width: 322px;
    background: #1C1C1D;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
  }  
  .gh-nav-wrap-2::-webkit-scrollbar {
    width: 5px;
  }
  .gh-nav-wrap-2::-webkit-scrollbar-track {
    background: #1C1C1D; 
  }   
  .gh-nav-wrap-2::-webkit-scrollbar-thumb {
    background: #AA9767;
    border-radius: 20px;
  }
  .gh-nav-heading{    
    flex-direction: column;    
  }
  .gh-nav-heading > div {
    margin: 0px 18px;
    padding: 22px 0;
    font-size: 18px;
    border-bottom: 1px solid #404040;
    position: relative;
  }
  .gh-nav-heading div .gh-nav-item::after {
    position: absolute;
    right: 7px;
    top: 22px;
    content: url('./img/gh-arrow-right.svg');
    background-repeat: no-repeat;
  }
  .gh-nav-heading .gh-nav-item a:hover:after{
    transform: scaleX(0); 
    border-bottom: 5px solid transparent;
  }
  .gh-nav-item-menu{
    font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.12em;
    border-bottom: 1px solid #AA9767;
    color: #AA9767;
    margin: 0px 18px;
    padding: 22px 0;
  }
  .gh-close-mob-ico{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
  }
  .gh-nav-item-clicked{
    font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.12em;
    border-bottom: 1px solid #AA9767;
    padding: 22px 0 22px 25px;    
  }
  .gh-nav-item-clicked a {
    color: #AA9767 !important;
  }
  .gh-nav-item-clicked::before {
    position: absolute;
    top: 45px;
    left: 0px;
    content: url('./img/gh-right-arrow-gold.svg');
    background-repeat: no-repeat;
  }
  .gh-nav-item-clicked::after {
    content: '' !important;
  }
  .gh-flyout {
    /* display: none;  */
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    box-shadow: unset;
    color: #404040;
    background: unset;
  }
  .gh-flyout-col1{
    display: none;
    width: 100%;
    max-width: unset;
    background: unset;
    padding: 22px 0px 0px 0px;
    box-sizing: border-box;
  }
  .gh-flyout-col1 div a{
    color: #FAFAFA;
}
  .gh-log-in-m a{
    display: block;
    text-align: center;
    padding: 10px 20px;
    margin: 0 16px 16px 16px;
    font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fafafa;
    text-decoration: none;
    border: 2px #fafafa solid;
    border-radius: 100px;
  }
  .gh-log-in-m a:hover{
    color: #fafafa;
    background: #404040;
    transition: 0s ease-in-out !important;
  }
  .gh-sign-up-m a{
    display: block;  
    padding: 12px 20px;
    margin: 16px 16px;
    background: #F37735;
    color: #fafafa;
    text-decoration: none;
    border-radius: 100px;
    font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }
  .gh-sign-up-m a:hover{
    background: #DB6B30;
    color: #FAFAFA;
  }
  .gh-nav-item-account{
    display: flex;
    margin-top: auto;
    border-top:1px #404040 solid;
    margin: auto 0 16px 0;
    padding-top: 16px;
  }
  .gh-usr-profile-left-nav{
    width: 32px;
    height: 32px;
    margin: 5px 8px 0px 16px;
    border: 2px solid #3D3D40;
    box-sizing: border-box;
    border-radius: 32px;    
  }
  .gh-usr-name{
    font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FAFAFA;
    margin: 3px 0;
  }
  .gh-usr-membership{
    font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #AA9767;
    margin: 0;
  }
  /* body{
    overflow-y:hidden;
  } */
  
}