.gohunt-header {
  width: 100%;
  height: 64px;
  background: #1c1c1d;
  color: #E5E5E5;
  /* floating header */
  position: fixed;
  top: 0;
  transition: 0.5s ease-in-out;
  z-index: 999;
}
.gohunt-header:hover {
  background: #1c1c1d;
  transition: .7s ease-in-out;
}
.gohunt-header:hover > .gh-main-header > .gh-nav-heading div a,
.gohunt-header:hover .gh-log-in a,
.gohunt-header:hover .gh-point > span,
.gohunt-header:hover > .gh-main-header > .gh-logo .gh-gohunt-logo,
.gohunt-header:hover .gh-user-menu-ico, 
.gohunt-header:hover .gh-search-ico, 
.gohunt-header:hover .gh-cart-ico{
  color: #E5E5E5;
  fill: #E5E5E5;
  transition: .5s ease-in-out;
}
.transparent-dark {
  background: transparent;
}
.transparent-dark .gh-nav-heading div a,
.transparent-dark .gh-log-in a,
.transparent-dark .gh-point > span,
.transparent-dark .gh-user-menu-ico, 
.transparent-dark .gh-search-ico, 
.transparent-dark .gh-cart-ico {
  color: #1c1c1d;
}
.transparent-light{
  background: transparent;
}
.nav-up {
  top: -64px;
}
.gh-main-header{
  display: flex;
  align-items: center;
  margin: 11px 48px;
}
.gh-logo .gh-gohunt-logo{
  width: 32px;
  height: 38px;
  fill: #FAFAFA;
}
.transparent-dark .gh-logo .gh-gohunt-logo {
  fill: #404040;
}
.gh-nav-heading{
  display: flex;
  flex: 1;
  font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.gh-nav-heading > div{
  margin-left: 32px;
}
.gh-nav-heading > div a{
  border-bottom: 5px solid transparent;
  text-decoration:none;
  color: #E5E5E5;
}
.gh-nav-heading > div a:after {
  margin-bottom: -26px;
  padding: 9px 0;
  display:block;
  content: '';
  border-bottom: 5px solid #AA9767;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.gh-nav-heading > div a:hover:after {
   transform: scaleX(1);
}
.gh-nav-right{
  display: flex;
  align-items: center;
}
.gh-search-ico{
  margin-left: 32px;
  width: 21px;
  height: 21px;
  fill: #FAFAFA;
  cursor: pointer;
}
.gh-search-ico:hover{
  fill: #e5e5e5;
}
.gh-cart-ico{
  margin-left: 32px;
  margin-top: 4px;
  width: 21px;
  height: 21px;
  fill: #FAFAFA;
}
.gh-cart-ico:hover{
  fill: #E5E5E5;
}
.gh-point{
  margin-left: 10px;
  margin-top: 4px;
  font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-size: 12px;
  color: #5D5D5D;
  letter-spacing: 0.12em;
}
.gh-point > span{
  font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-size: 12px;
  color: #FAFAFA;
  letter-spacing: 0.12em;
}
.gh-hamburger-ico{
  display: none;
  width: 18px;
  height: 12px;
  fill: #FAFAFA;
}
.gh-user-menu-ico{
  margin-left: 32px;
  width: 32px;
  height: 32px;
  fill: #FAFAFA;
  cursor: pointer;
}
.gh-user-menu-ico:hover{
  fill: #e5e5e5;
}
.gh-log-in a{
  padding: 9px 20px;
  margin-left: 20px;
  font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #fafafa;
  text-decoration: none;
  border-radius: 100px;
}
.gh-log-in a:hover{
  color: #fafafa;
  background: #404040;
  transition: 0s ease-in-out !important;
}
.gh-sign-up a{
  padding: 9px 20px;
  margin-left: 20px;
  background: #F37735;
  color: #fafafa;
  text-decoration: none;
  border-radius: 100px;
  font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}
.gh-sign-up a:hover{
  background: #DB6B30;
  color: #FAFAFA;
}