.gohunt-header {
  width: 100%;
  height: 64px;
  background: #1c1c1d;
  color: #E5E5E5;
  /* floating header */
  position: fixed;
  top: 0;
  transition: 0.2s ease-in-out;
  z-index: 999;
}
.gohunt-header:hover {
  background: #1c1c1d;
  transition: .7s ease-in-out;
}
.gohunt-header:hover .gh-nav-item a,
.gohunt-header:hover .gh-log-in a,
.gohunt-header:hover .gh-point > span,
.gohunt-header:hover .gh-logo .gh-gohunt-logo,
.gohunt-header:hover .gh-user-menu-ico, 
.gohunt-header:hover .gh-hamburger-ico, 
.gohunt-header:hover .gh-search-ico, 
.gohunt-header:hover .gh-cart-ico{
  color: #E5E5E5;
  fill: #E5E5E5;
  transition: .5s ease-in-out;
}
.transparent-dark {
  background: transparent;
}
.transparent-dark .gh-nav-heading div a,
.transparent-dark .gh-log-in a,
.transparent-dark .gh-point > span,
.transparent-dark .gh-user-menu-ico, 
.transparent-dark .gh-hamburger-ico, 
.transparent-dark .gh-search-ico, 
.transparent-dark .gh-cart-ico {
  color: #1c1c1d;
  fill: #1c1c1d;
}
.transparent-light{
  background: transparent;
}
/* .transparent-light .gh-nav-heading div a,
.transparent-light .gh-log-in a,
.transparent-light .gh-point > span,
.transparent-light .gh-user-menu-ico, 
.transparent-light .gh-hamburger-ico, 
.transparent-light .gh-search-ico, 
.transparent-light .gh-cart-ico {
  color: #fafafa;
  fill: #fafafa;
} */
/* .transparent-light ~ div #gh-user-menu-circle{
  stroke: #fafafa4a !important;
} */
.nav-up {
  top: -64px;
}
.gh-main-header{
  display: flex;
  align-items: center;
  margin: 11px 48px;
}
.gh-logo .gh-gohunt-logo{
  width: 32px;
  height: 38px;
  fill: #FAFAFA;
}
.transparent-dark .gh-logo .gh-gohunt-logo {
  fill: #404040;
}
.gh-nav-wrap{
  flex: 1;
}
.gh-nav-heading{
  display: flex;
  font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}
.gh-nav-heading > div{
  margin-left: 32px;
}
.gh-nav-heading .gh-nav-item a{
  border-bottom: 5px solid transparent;
  text-decoration:none;
  color: #E5E5E5;
  white-space: nowrap;
  padding-top: 24px;
}
.gh-nav-heading .gh-nav-item a:after {
  margin-bottom: -26px;
  padding: 9px 0;
  display:block;
  content: '';
  border-bottom: 5px solid #AA9767;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.gh-nav-heading .gh-nav-item a:hover:after {
   transform: scaleX(1);
}
/************ Flyout Part ************/
.gh-flyout{
  display: flex;
  position: absolute;
  top: 64px;
  left: 0px;
  width: 100%;
  box-shadow: 0px 16px 32px -28px rgba(0, 0, 0, 0.25);
  color: #404040;
  background: #FFF;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s ease;  
  transition-delay: .3s;
}
.gh-nav-item:hover + .gh-flyout, .gh-flyout:hover{
  display: flex !important;
  visibility: visible;
  opacity: 1;
}
/* .gh-flyout:hover ~ .gh-nav-item a:hover:after{
  border-bottom: 5px solid #AA9767;
  transform: scaleX(1);
} */
.flyout-spacer{
  width: 5%;
  background:#EEE;
}
.gh-flyout-col1{
  width: 25%;
  max-width: 300px;
  background: #EEE;
  padding: 0 16px 48px 0px;
  box-sizing: border-box;
}
.gh-flyout-col1 h6, .gh-flyout-col2 h6, .gh-flyout-col3 h6{
  font-family: 'HCo Ringside Wide', 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 110%;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  margin: 31px 0px;
  color: #8E8E92;
}
.gh-flyout-col1 h6{
  margin-bottom: 16px;
}
.gh-flyout-col1 div, .gh-flyout-col2 div, .gh-flyout-col3 div{
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.gh-flyout-col1 div{
  margin-bottom: -3px;
  margin-left: -10px;
}
.gh-flyout-col1 div a, .gh-flyout-col2 div a, .gh-flyout-col3 div a{
  color: #404040;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.gh-flyout-col1 div a{
  border-radius: 6px;
  padding: 12px 12px;
}
.gh-flyout-col1 div a:hover{
  background: #E0E0E0;
}
.gh-flyout-col1 div svg{
  vertical-align: middle;
  margin-right: 18px;
}
.gh-flyout-col1 div .disabled{
  pointer-events: none;
  filter: invert(87%) sepia(0%) saturate(153%) hue-rotate(90deg) brightness(88%) contrast(82%);
}
.gh-view-all{
  border-bottom: 2px #A99766 solid;
}
.gh-openmap-btn{
  width: 236px;
  height: 44px;
  background: #404040;
  border-radius: 100px !important;
  padding: 0px 0px !important;
  color: #FAFAFA !important;
  margin: 28px 0 10px 0;
}
.gh-openmap-btn svg{
  margin-left: 47px;
}
.gh-openmap-btn:hover{
  filter: unset !important;
  background: #5D5D5D !important;
}
.gh-playstore-btn{
  width: 236px;
  height: 40px;
  border: 2px solid #404040;
  border-radius: 100px !important;
  padding: 0px 0px !important;
  color: #404040 !important;
  margin: 28px 0 10px 0;
}
.gh-playstore-btn svg{
  margin-left: 47px;
}
.gh-playstore-btn:hover{
  filter: unset !important;
  background: #E0E0E0 !important;
}
.gh-flyout-col2{
  width: 30%;
  max-width: 500px;
  box-sizing: border-box;
  padding: 0 32px 48px 32px;
}
.gh-flyout-col2 div a:hover{
  filter: invert(36%) sepia(0%) saturate(0%) hue-rotate(216deg) brightness(99%) contrast(95%);
}
.gh-flyout-col3{
  width: 40%;
  max-width: 600px;
  padding: 0 16px 48px 32px;
  border-left: #E3E3E3 1px solid;
}
.gh-flyout-col3 div a:hover{
  color: #5d5d5d;
}
.gh-flyout-col3 div img{
  vertical-align: middle;
  width: 165px;
  height: 90px;
  border-radius: 5px;
  margin-right: 18px;
}
/******************* Nav Right Part ****************/
.gh-nav-right{
  display: flex;
  align-items: center;
}
.gh-search-ico{
  margin-left: 32px;
  width: 21px;
  height: 21px;
  fill: #FAFAFA;
  cursor: pointer;
}
.gh-search-ico:hover{
  fill: #e5e5e5;
}
.gh-cart-ico{
  margin-left: 32px;
  margin-top: 4px;
  width: 21px;
  height: 21px;
  fill: #FAFAFA;
}
.gh-cart-ico:hover{
  fill: #E5E5E5;
}
.gh-point{
  margin-left: 10px;
  margin-top: 4px;
  font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-size: 12px;
  color: #5D5D5D;
  letter-spacing: 0.12em;
}
.gh-point > span{
  font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-size: 12px;
  color: #FAFAFA;
  letter-spacing: 0.12em;
}
.gh-hamburger-ico{
  display: none;
  width: 18px;
  height: 12px;
  fill: #FAFAFA;
}
.gh-user-menu-ico{
  margin-left: 32px;
  width: 32px;
  height: 32px;
  fill: #FAFAFA;
  cursor: pointer;
}
.gh-usr-profile{
  width: 32px;
  height: 32px;
  margin-left: 32px;
  border: 2px solid #3D3D40;
  box-sizing: border-box;
  border-radius: 32px;
}
.gh-user-menu-ico:hover{
  fill: #e5e5e5;
}
.gh-nav-account-menu{
  display: none;
  width: 232px;
  position: absolute;
  top:48px;
  right: 24px;
  background: #1C1C1D;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 8px 8px;
  flex-direction: column;
  font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 20px 0 10px 0;
}
.gh-nav-account-menu a{
  text-decoration: none;
  color: #FAFAFA;
  border-top: 1px solid #323132;
  margin: 0 14px;
}
.gh-basecamp-ico svg,.gh-pt-ico svg,.gh-account-setting-ico svg,.gh-logout-ico svg,.gh-ready-upgrade svg{
  width: 20px;
  height: 20px;
  fill: #FAFAFA;
  vertical-align: middle;
  margin:13px 12px 13px 0;    
}
.gh-basecamp-ico,.gh-pt-ico,.gh-account-setting-ico,.gh-logout-ico,.gh-ready-upgrade{
  border-radius: 6px;
  padding: 0 0 0 12px;
}
.gh-basecamp-ico:hover,.gh-pt-ico:hover,.gh-account-setting-ico:hover,.gh-logout-ico:hover,.gh-ready-upgrade:hover{
  background: #404040;
}
.gh-ready-upgrade{
  border: 2px #fafafa solid !important;
  border-radius: 50px;
  margin: 12px 16px !important;
  text-align: center;
  font-size: 14px !important;
}
.gh-ready-upgrade svg{
  margin: 10px 10px 10px 0 !important;
}
.gh-log-in a{
  display: block;
  text-align: center;
  padding: 9px 15px;
  margin-left: 20px;
  font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #fafafa;
  text-decoration: none;
  border-radius: 100px;
}
.gh-log-in a:hover{
  color: #fafafa;
  background: #404040;
  transition: 0s ease-in-out !important;
}
.gh-sign-up a{
  display: block;  
  padding: 9px 20px;
  margin-left: 20px;
  background: #F37735;
  color: #fafafa;
  text-decoration: none;
  border-radius: 100px;
  font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}
.gh-sign-up a:hover{
  background: #DB6B30;
  color: #FAFAFA;
}
/* Search Bar */
.gh-header-search{
  position: absolute;
  width: 100%;
  height: 64px;
  top: -64px;
  left: 0px;
  background: #1C1C1D;
  z-index: 10;
}
.gh-search-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 32px;
  height: 52px;
  width: calc(100% - 18px);
  max-width: 1168px;
  margin: 6px auto;
}
.gh-search-bar-ico{
  width: 20px;
  height: 20px;
  fill: #373737;
}
.gh-search-close-ico{
  width: 15px;
  height: 15px;
  fill: #1C1C1D;
  cursor: pointer;
}
.gh-search-input{
  width: calc(100% - 140px);
  outline: 0;
  border: 0;
  height: 50px;  
  outline: 0;
  border: 0;
  margin-left: 12px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  align-items: center;
  color: #333333;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.gh-search-clear{
  font-family: 'Inter';
  color: #202620;
  font-size:12px;
  font-weight:500;
  margin: -3px 15px 0 -6px;
  cursor: pointer;
}
.go_search_showhide_wrap{
  background: rgba(0, 0, 0, 0.75);
  height: 100vh;
  margin-top: -3px;
  display: none;
}
.go_search_showhide {
  max-width: 1100px;
  background: #FAFAFA;
  border-radius: 0px 0px 8px 8px;
  padding: 30px;
  z-index: 99;
  margin: 0 auto;
}
.gh-search-nav-tabs{
  list-style-type: none;
  margin: 0;
  padding: 0 0 6px 0;
  display: flex;
  border-bottom: 1px #E3E3E3 solid;
}
.gh-search-nav-tabs li a{
  margin-right: 20px;
  text-decoration: none;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #606368;
  cursor: pointer;
}
.gh-search-nav-tabs .active{
  color: #000000;
  border-bottom: 3px #A99766 solid;
  padding-bottom: 4px;
}
#search-result-all{
  display: block;
}
#search-result-article, #search-result-video{
  display: none;
}
.search-result-item{
  display: flex;
  margin-top: 36px;
}
.search-result-item img{
  width: 97px;
  height: 77px;
  border-radius: 4px;
  margin-right: 15px;
}
.search-result-item a{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 19px;
  line-height: 21px;
  color: #202020;
  text-decoration: none;
}
.search-result-item a:hover{
  color: #505050;
}
.search-result-item h4{
  margin: 0;
}
.search-result-item p{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #606368;
  margin: 6px 0;
}
.search-result-item .tags a{
  font-family: 'HCo Ringside Wide';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #8E8E92;
  background: #EBEBEB;
  padding: 4px 6px;
  line-height: 25px;
}
.search-result-item .tags a:hover{
  color: #FFF;
  background: #A99766;
}

.gh-nav-item-menu, .gh-nav-item-account, .gh-log-in-m, .gh-sign-up-m, .gh-nav-account-back,.gh-user-menu-ico-mob-not-loggedin{
  display: none;
}

/* *************************************/
/* *********MOBILE MEDIA QUERY *********/
/* *************************************/

@media screen and (max-width: 999px) {
  .gh-external-link-after:after{
    content: url(./img/gh-ex-link-ico.svg) !important;
  }
  .gh-no-after:after{
    content:none !important;
  }
  .gohunt-header:hover {
    /* color: unset; */
    /* fill: unset; */
    /* background: unset; */
    /* transition: unset; */
  }
  .transparent-dark .gh-nav-heading div a {
    color: #fafafa;
  }
  .gh-flyout-col1 h6, .gh-flyout-col2, .gh-flyout-col3, .gh-log-in, .gh-sign-up, .flyout-spacer{
    display: none;
  }
  .gh-hamburger-ico, .gh-nav-item-menu, .gh-nav-item-account, .gh-log-in-m, .gh-sign-up-m{
    display: block;
  }
  .gh-logo{
    position: absolute;
    left: calc(50% - 16px);
    top: 13px;
  }
  .gh-hamburger-ico{
    position: absolute;
    left: 16px;
    top: 26px;
    cursor: pointer;
  }
  .gh-search-ico{
    position: absolute;
    left: 22px;
    top: 22px;
  }
  .gh-cart-ico{
    position: absolute;
    right: 62px;
    top: 18px;
  }
  .gh-point{
    display: none;
  }
  .gh-user-menu-ico{
    position: absolute;
    right: 14px;
    top: 17px;
  }
  .gh-usr-profile{
    position: absolute;
    right: 14px;
    top: 17px;
    width: 32px;
    height: 32px;
    border: 2px solid #3D3D40;
    box-sizing: border-box;
    border-radius: 32px;
  }
  .gh-user-menu-ico-mob-not-loggedin{
    display: block;
    position: absolute;
    right: 14px;
    top: 17px;
    fill: #FAFAFA;
    width: 32px;
    height: 32px;
  }
  .gh-nav-wrap{
    display: none;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .gh-nav-wrap-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 322px;
    position: absolute;
    left: -322px;
    background: #1C1C1D;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
  }  
  .gh-nav-wrap-2::-webkit-scrollbar {
    width: 5px;
  }
  .gh-nav-wrap-2::-webkit-scrollbar-track {
    background: #1C1C1D; 
  }   
  .gh-nav-wrap-2::-webkit-scrollbar-thumb {
    background: #AA9767;
    border-radius: 20px;
  }
  .gh-nav-heading{    
    flex-direction: column;    
  }
  .gh-nav-heading > div {
    margin: 0px 18px;
    padding: 22px 0;
    font-size: 18px;
    border-bottom: 1px solid #404040;
    position: relative;
  }
  .gh-nav-heading div .gh-nav-item::after {
    position: absolute;
    right: 7px;
    top: 22px;
    content: url('./img/gh-arrow-right.svg');
    background-repeat: no-repeat;
  }
  .gohunt-header:hover .gh-nav-item a{
    transition: unset;
  }
  .gh-nav-heading .gh-nav-item a:hover:after{
    transform: scaleX(0); 
    border-bottom: 5px solid transparent;
  }
  .gh-nav-item-menu{
    font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.12em;
    border-bottom: 1px solid #AA9767;
    color: #AA9767;
    margin: 0px 18px;
    padding: 22px 0;
  }
  .gh-close-mob-ico{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    fill: #AA9767;
  }
  .gh-nav-item-clicked{
    font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.12em;
    border-bottom: 1px solid #AA9767;
    padding: 2px 0 22px 25px;    
  }
  .gh-nav-item-clicked a {
    color: #AA9767 !important;
    text-decoration: none;
  }
  .gh-nav-item-clicked::before {
    position: absolute;
    top: 25px;
    left: 0px;
    content: url('./img/gh-right-arrow-gold.svg');
    background-repeat: no-repeat;
  }
  .gh-nav-item-clicked::after {
    content: '' !important;
  }
  .gh-flyout {
    display: block !important; 
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    box-shadow: unset;
    color: #404040;
    background: unset;
    opacity: unset;
    visibility: unset;
    transition: unset;  
    transition-delay: unset;
  }
  .gh-flyout-col1{
    display: none;
    width: 100%;
    max-width: unset;
    background: unset;
    padding: 22px 0px 0px 0px;
    box-sizing: border-box;
  }
  .gh-flyout-col1 div a{
    color: #FAFAFA;
  }
  .gh-flyout-col1 div a:hover{
    background: unset;
  }
  .gh-flyout-col1 div a svg{
    filter: invert(100%) sepia(0%) saturate(5613%) hue-rotate(260deg) brightness(123%) contrast(96%);
  }
  .gh-flyout-col1 div .disabled {
    pointer-events: none;
    filter: invert(75%) sepia(0%) saturate(153%) hue-rotate(90deg) brightness(88%) contrast(82%);
  }
  .gh-openmap-btn{
    width: 95%;
    height: 44px;
    background: #fafafa;
    border-radius: 100px;
    color: #404040 !important;
  }
  .gh-openmap-btn svg{
    margin-left: 23%;
    filter: invert(80%) sepia(12%) saturate(0%) hue-rotate(243deg) brightness(96%) contrast(82%);
  }
  .gh-openmap-btn:hover{
    filter: unset !important;
    background: #EBEBEB !important;
  }
  .gh-playstore-btn{
    width: 95%;
    height: 40px;
    border: 2px solid #fafafa;
    border-radius: 100px;
    color: #fafafa !important;
  }
  .gh-playstore-btn svg{
    margin-left: 24%;
    filter: invert(100%) sepia(5%) saturate(2%) hue-rotate(96deg) brightness(109%) contrast(96%);
  }
  .gh-playstore-btn:hover{
    filter: unset !important;
    background: #404040 !important;
  }
  .gh-log-in-m a{
    display: block;
    text-align: center;
    padding: 10px 20px;
    margin: 0 16px 16px 16px;
    font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fafafa;
    text-decoration: none;
    border: 2px #fafafa solid;
    border-radius: 100px;
  }
  .gh-log-in-m a:hover{
    color: #fafafa;
    background: #404040;
    transition: 0s ease-in-out !important;
  }
  .gh-sign-up-m a{
    display: block;  
    padding: 12px 20px;
    margin: 16px 16px;
    background: #F37735;
    color: #fafafa;
    text-decoration: none;
    border-radius: 100px;
    font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }
  .gh-sign-up-m a:hover{
    background: #DB6B30;
    color: #FAFAFA;
  }
  .gh-nav-item-account{
    display: flex;
    margin-top: auto;
    border-top:1px #404040 solid;
    margin: auto 0 16px 0;
    padding-top: 16px;
  }
  .gh-usr-profile-left-nav{
    width: 32px;
    height: 32px;
    margin: 5px 8px 0px 16px;
    border: 2px solid #3D3D40;
    box-sizing: border-box;
    border-radius: 32px;    
  }
  .gh-usr-name{
    font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FAFAFA;
    margin: 3px 0;
  }
  .gh-usr-membership{
    font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #AA9767;
    margin: 0;
  }
  .gh-nav-account-back{
    display: none;
    font-family: 'HCo Ringside Wide', 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.12em;
    border-bottom: 1px solid #AA9767;
    color: #AA9767;
    margin: 0px 18px;
    padding: 22px 0;
  }
  .gh-nav-account-menu{
    display: none;
    flex-direction: column;
    font-family: 'Inter', 'Hevetica', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    width: unset;
    position: unset;
    top:unset;
    right: unset;
    background: unset;
    box-shadow: unset;
    border-radius: unset;
  }
  .gh-nav-account-menu a{
    text-decoration: none;
    color: #FAFAFA;
    border-bottom: 1px solid #404040;
    border-top: unset;
    margin: 0 16px;
  }
  .gh-basecamp-ico svg,.gh-pt-ico svg,.gh-account-setting-ico svg,.gh-logout-ico svg,.gh-ready-upgrade svg{
    width: 20px;
    height: 20px;
    fill: #FAFAFA;
    vertical-align: middle;
    margin:20px 16px 20px 0;    
  }
  .gh-basecamp-ico:hover,.gh-pt-ico:hover,.gh-account-setting-ico:hover,.gh-logout-ico:hover,.gh-ready-upgrade:hover{
    background: unset;
  }
  .gh-ready-upgrade{
    border: 2px #fafafa solid !important;
    border-radius: 50px;
    margin: 20px 16px !important;
    text-align: center;
  }
  .gh-ready-upgrade svg{
    margin: 10px 10px 10px 0 !important;
  }
  /* Mobile Search Bar */
  .gh-search-input{
    font-size: 14px;
  }
  
}